<div class="bottom-button-container">
  <div class="feedback-form-container">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSduy0UDQSbhc-GTdmoIorxzbrkUKFt20qBBhIgoDkK_N4onxg/viewform" 
      target="_blank"
      class="feedback-form-button">
      フィードバックを送信
    </a>
  </div>
  <!-- ローマ字対応表表示ボタン -->
  <div class="romaji-map-trigger-container">
    <button id="show-romaji-map" class="feedback-form-button">ローマ字表</button>
  </div>
  <div class="how-to-play-trigger-container">
    <button id="show-how-to-play" class="feedback-form-button">あそびかた</button>
  </div>
</div>
<div class="footer">
  <span class="alternative-font">©︎</span>Word Chain Image Generator
</div>
