<div class="terms-container">
  <h1>プライバシーポリシー</h1>
  
  <p>本プライバシーポリシーは、しりとり画像ジェネレーター／Word Chain Image Generator（以下、「当アプリ」とします）がユーザーの皆様に提供するサービスにおける、個人情報およびその他の情報の取り扱いについて説明するものです。当アプリを利用することにより、ユーザーは本プライバシーポリシーの内容を理解し、同意したものとみなします。</p>
  
  <h2>1. 収集する情報</h2>
  <p>当アプリは、以下の情報を取得します。：</p>
  <ul>
    <li>ユーザーが当アプリに入力または提供する情報（例：ニックネーム、しりとりの回答）</li>
    <li>Cookie(クッキー)を用いて生成された識別情報</li>
    <li>OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
    <li>Googleアナリティクスを通じて収集される情報（例：使用状況、アクセスページ）</li>
  </ul>
  <h3>【アクセス解析ツール】</h3>
  <p>
     当アプリは、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。<br>
     Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。<br>
     トラフィックデータは匿名で収集されており、個人を特定するものではありません。<br>
     Cookieを無効にすれば、これらの情報の収集を拒否することができます。<br>
     詳しくはお使いのブラウザの設定をご確認ください。<br>
     Googleアナリティクスについて、詳しくはGoogleアナリティクスにてご確認ください。<br>
  </p>
  
  <h2>2. 情報の使用目的</h2>
  <p>当アプリは、収集した情報を以下の目的で使用します：</p>
  <ul>
    <li>当アプリの機能提供および改善</li>
    <li>ユーザーサポートおよび問い合わせへの対応</li>
    <li>使用状況の分析および統計</li>
    <li>法令に基づく場合の対応</li>
  </ul>

  <h2>3. 情報の共有および開示</h2>
  <p>当アプリは、以下の場合を除き、ユーザーの個人情報を第三者と共有または開示しません：</p>
  <ul>
    <li>ユーザーの同意がある場合</li>
    <li>法令に基づき開示が必要な場合</li>
    <li>ユーザーまたは公共の安全を守るため、やむを得ず必要な場合</li>
  </ul>
  <h2>4. 情報の保護</h2>
  <p>当アプリは、収集した情報の安全性を確保するため、適切な物理的、技術的保護措置を講じます。しかし、インターネット上でのデータ転送は完全に安全とは限らず、100%の安全性を保証するものではありません。</p>

  <h2>5. ユーザーの権利</h2>
  <p>ユーザーは、自己の個人情報に関して、以下の権利を有します：</p>
  <ul>
    <li>確認権</li>
    <li>訂正権</li>
    <li>削除権</li>
    <li>利用制限権</li>
  </ul>
  <p>これらの権利を行使したい場合は、当アプリのサポートまでご連絡ください。</p>
  <h2>6. プライバシーポリシーの変更</h2>
  <p>当アプリは、法令変更やサービス内容の変更に伴い、本プライバシーポリシーを更新することがあります。変更後のプライバシーポリシーは、当アプリ上での掲載をもって効力を発生するものとします。</p>

  <h2>7. お問い合わせ</h2>
  <p>本プライバシーポリシーに関するお問い合わせは、<a href="https://twitter.com/tairanobuhiko", class="inquiry", style="color: #333;"><b>こちら<b></a>までお願いいたします。</p>

  <h2>8. 最終更新日</h2>
  <p>2024年3月31日制定</p>

  <br>
  <p><a href="/" style="text-decoration: none; color: #333;">もどる</a></p>
</div>
