.header {
  background-color: #FF69B4; 
  padding: 20px 0;
  text-align: center;
  border-bottom: 3px solid #FFB6C1; 
}

.header h1 {
  font-family: "RocknRoll One", sans-serif;
  color: white;
  margin: 0;
  font-size: 2.5em;
  text-shadow: 4px 4px 0px #ff00ff, /* ピンクの縁 */
               8px 8px 0px rgba(0, 0, 0, 0.2); /* 黒の影 */

}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 120px;
  position: relative;
  margin: 0; /* デフォルトのマージンを取り除く */
  height: 100vh; /* ビューポートの高さに合わせる */
  background: #ffffff; /* オーバーレイの下の背景色 */
  overflow: auto; /* 必要に応じてスクロールを許可 */
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/word_chain_image_generator.jpg'); /* 画像のパスを更新 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1; 
  z-index: -1; /* 要素の背面に配置 */
}

#typing-game {
  max-width: 600px;
  overflow: auto;
  margin: 20px auto;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

#word-container {
  margin-bottom: 10px;
}

#typing-input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
}

#feedback-message {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 30px;
  color: red;
  font-weight: bold;
}

/* キーボードデザイン */
#keyboard-layout {
  margin: 0 auto;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 行が折り返されるようにする */
  margin-bottom: 5px;
}

.key {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 2px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.key:hover {
  background-color: #eaeaea;
}

#spacebar {
  width: 250px;
  padding: 10px; /* スペースバーの幅を調整 */
}

.key.active {
  background-color: #eaeaea; /* ハイライト時の背景色 */
}

#se-toggle-image {
  margin: 10px; 
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}


/* ------------------------- */
/* しりとり状況の表示領域 */
#word-chain-status {
  background-color: #fffbf0; /* 薄いピンク色の背景 */
  border: 2px dashed #FFB6C1; /* ダッシュ線のボーダー */
  border-radius: 10px; /* 角の丸み */
  color: #FF69B4; /* フレーズの色 */
  font-family: 'Comic Sans MS', 'Arial', sans-serif; /* 子供向けのフォント */
  font-size: 20px; /* フォントサイズ */
  margin: 10px 0; /* 上下のマージン */
  padding: 10px; /* 内側の余白 */
  white-space: nowrap; /* 折り返しを防ぐ */
  display: flex; /* フレックスボックス */
  align-items: center; /* アイテムを中央揃え */
  flex-wrap: wrap; /* コンテンツが溢れたら折り返し */
}

#word-chain-status-container {
  overflow-x: auto; /* 横方向のスクロールバー */
  flex-wrap: nowrap; /* コンテンツが溢れても折り返ししない */
}

#word-chain-status p, .word-item {
  font-family: "Mochiy Pop One", sans-serif;
  margin: 3px 8px; /* フレーズ間のマージン */
  display: inline-block; /* インラインブロック要素として表示 */
  background-color: #FFC0CB; /* フレーズの背景色 */
  border-radius: 5px; /* フレーズの角の丸み */
  padding: 5px 10px; /* フレーズのパディング */
  box-shadow: 2px 2px 4px #888888; /* 影の効果 */
  font-size: 15px;
}

/* スクロールバーのスタイル（Chrome, Edge, Safari用） */
#word-chain-status::-webkit-scrollbar {
  height: 8px;
}

#word-chain-status::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

#word-chain-status::-webkit-scrollbar-thumb {
  background: #888; 
}

#word-chain-status::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* 「しりとりの状況」テキストスタイル */
.word-chain-status-heading {
  font-family: "Mochiy Pop One", sans-serif;
  width: 100%; /* 幅を100%に設定して折り返しの起点に */
  font-size: 20px; /* フォントサイズを大きく */
  color: #ffffff; 
  background-color: #f09ed7;
  margin-bottom: 10px; /* 下マージンで区切りを作る */
  text-align: left; /* 左寄せ */
  border: 2px solid #FFB6C1; /* ダッシュ線のボーダー */
  border-radius: 10px; /* 角の丸み */
  text-align: center;
}

/* フィードバックフォームのボタンスタイル */
.feedback-form-container {
  display: flex;
  justify-content: right;
  position: fixed;
  align-items: flex-end;
  right: 5px;
  bottom: 65px;
}

.feedback-form-button {
  margin-top: 20px; 
  padding: 10px 20px;
  background-color: #f7f7f7;
  color: rgb(147, 147, 147); 
  text-align: center; 
  border-radius: 5px; 
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 2px 2px 2px #888888; /* 影をつける */
}

.feedback-form-button:hover {
  background-color: #eaeaea; /* ホバー時の背景色を変更 */
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
}
/* ゲーム終了ポップアップのスタイル */

#game-over-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-over-content {
  font-family: "Mochiy Pop One", sans-serif;
  color: red;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  animation: spin 2s linear infinite;
}

#generated-image-container {
  display: flex;
  justify-content: center;
}

#generated-image-container img {
  width: 90%;
  margin-bottom: 100px; 
}

.download-button {
  margin-left: 5px;
}

button {
  margin: 0 5px 0 0;
}

#generated-image-container p {
  background-color: #f6f6f6;
  border-radius: 20px;
  border: solid 0.5px #ccc;
  padding: 20px;
  margin: 10px;
}

/* ------------------------- */

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {
  /* タブレット画面のスタイリング */
  .header h1 {
    font-size: 2em; /* フォントサイズを小さく調整 */
    text-shadow: 3px 3px 0px #ff00ff, /* 影のサイズを小さく */
                 6px 6px 0px rgba(0, 0, 0, 0.2); /* 影のサイズを小さく */
  }
  .key, #spacebar {
    padding: 8px 6px; /* キーのパディングを調整 */
    margin: 3px; /* キーのマージンを調整 */
    font-size: 14px; /* フォントサイズを調整 */
  }

  #spacebar {
    padding: 8px; /* スペースバーのパディングを調整 */
  }

  .footer {
    height: 50px;
    line-height: 50px;
  }

  .feedback-form-container {
    bottom: 55px;
  }
}

@media (max-width: 480px) {
  /* スマートフォン画面のスタイリング */
  .header h1 {
    font-size: 1.5em; /* フォントサイズをさらに小さく調整 */
    text-shadow: 2px 2px 0px #ff00ff, /* 影のサイズをさらに小さく */
                 4px 4px 0px rgba(0, 0, 0, 0.2); /* 影のサイズをさらに小さく */
  }
  
  #typing-game {
    margin: 10px auto;
  }

  #typing-input {
    width: 70%;
  }

  .key, #spacebar {
    padding: 6px 4px; /* キーのパディングを調整 */
    margin: 2px; /* キーのマージンを調整 */
    font-size: 12px; /* フォントサイズを調整 */
  }

  #spacebar {
    padding: 6px; /* スペースバーのパディングを調整 */
  }

  #game-over-content {
    font-family: "Hiragino Maru Gothic ProN", sans-serif;
  }

  .footer {
    height: 40px;
    line-height: 40px;
  }

  .feedback-form-button {
    padding: 5px 15px;
  }

  .feedback-form-container {
    bottom: 45px;
  }
}
