#typing-game {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

#word-container {
  margin-bottom: 10px;
}

#typing-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#feedback-message {
  color: red;
  font-weight: bold;
}

/* キーボードデザイン */
#keyboard-layout {
  margin: 0 auto;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 行が折り返されるようにする */
  margin-bottom: 5px;
}

.key {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 2px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.key:hover {
  background-color: #eaeaea;
}

#spacebar {
  width: 250px;
  padding: 10px; /* スペースバーの幅を調整 */
}

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {
  /* タブレット画面のスタイリング */
  .key, #spacebar {
    padding: 8px 6px; /* キーのパディングを調整 */
    margin: 3px; /* キーのマージンを調整 */
    font-size: 14px; /* フォントサイズを調整 */
  }

  #spacebar {
    padding: 8px; /* スペースバーのパディングを調整 */
  }
}

@media (max-width: 480px) {
  /* スマートフォン画面のスタイリング */
  #typing-game {
    margin: 10px auto;
  }

  #typing-input {
    width: 70%;
  }

  .key, #spacebar {
    padding: 6px 4px; /* キーのパディングを調整 */
    margin: 2px; /* キーのマージンを調整 */
    font-size: 12px; /* フォントサイズを調整 */
  }

  #spacebar {
    padding: 6px; /* スペースバーのパディングを調整 */
  }
}
