<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <div class="grid-cols-2 gap-8 md:grid-cols-2 lg:gap-12">
      <div>
        <div class="h-full overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
              <%= image_tag @image.image, class: "h-full w-full object-cover object-center" %>
        </div>
      </div>

      <div class="pt-5 md:pt-8">
        <div class="flex justify-center bg-pink-200 mx-auto py-3 bg-opacity-50 lg:px-8">
          <p class="text-lg text-center font-bold text-gray-800 md:text-left"><%= @image.word_chain.gsub(",", " ▷ ") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
